<div class="container">
  <div class="row">
    <div
      class="col mx-3 p-3 mt-5 border border-2 rounded-2 h-100 d-flex flex-column"
      style="background-color: #f3f2f8"
      *ngFor="let profile of profiles; let i = index"
    >
      <div class="card-heading mb-3">
        <h3 class="card-title text-center">Profile {{ i + 1 }}</h3>
      </div>
      <div
        class="card-body"
        id="profile-details"
        *ngIf="!profile.edit; else edit"
      >
        <p>
          <strong>Name:</strong> <span> {{ profile.name }}</span>
        </p>
        <p>
          <strong>Email:</strong> <span> {{ profile.email }}</span>
        </p>
        <p>
          <strong>Phone No:</strong> <span> {{ profile.phoneNo }}</span>
        </p>
        <p>
          <strong>Age:</strong> <span> {{ profile.age }}</span>
        </p>
        <button class="btn btn-primary w-100" (click)="profile.edit = true">
          Edit
        </button>
      </div>

      <ng-template #edit>
        <div class="card-body flex-grow-1">
          <form>
            <div class="form-group mb-2">
              <label for="name">Name : </label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control mt-1"
                required
                [(ngModel)]="profile.name"
              />
            </div>
            <div class="form-group mb-2">
              <label for="email">Email :</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control mt-1"
                required
                [(ngModel)]="profile.email"
              />
            </div>
            <div class="form-group mb-2">
              <label for="phone">Phone No : </label>
              <input
                type="tel"
                name="phone"
                id="phone"
                class="form-control mt-1"
                required
                [(ngModel)]="profile.phoneNo"
              />
            </div>
            <div class="form-group mb-3">
              <label for="age">Age :</label>
              <input
                type="number"
                name="age"
                id="age"
                class="form-control mt-1"
                required
                [(ngModel)]="profile.age"
              />
            </div>
            <button
              class="btn btn-success w-100 mt-auto"
              type="submit"
              (click)="profile.edit = false"
            >
              Update
            </button>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>
